
<!DOCTYPE html>
<html lang="cs" class="pvs-theme js-ok">
	<head>
		<meta charset="utf-8">
		<!-- Viewport settings, change these settings only if its reqiured by the project ! -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="format-detection" content="telephone=no">
		<!-- Use this css if Bootstrap-vue is used -->
		<!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap-vue@1.0.0-beta.7/dist/bootstrap-vue.css"> -->
		<!-- build:remove:production -->
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/mv/css/front.css">
		
		<!-- /build -->
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/mv/css/print.css" media="print">
		<!-- Please fill this meta tags with apropriate content provided by the project -->
		<meta name="author" content="Lundegaard a.s.">
	</head>
	<body>
		<div class="asseco-theme body__wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">

						{{ content }}

					</div>
				</div>
			</div>
		</div>
		<!-- Included scripts -->
		<script src="{{ site.baseurl }}/assets/mv/js/front.min.js"></script>

		<!-- Necessary for resizing patterns iframe, if pattern has big height -->
		<script src="{{ "/assets/js/vendor/iframeResizer.contentWindow.min.js" | prepend: site.baseurl }}"></script>
	</body>
</html>

